---
title: レイアウトに指定したタイトル
---

<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ title }}</title>
		<link rel="stylesheet" href="{{ csspath }}/style.css" />
	</head>
	<body>
        <header>
			<h1><a href="../index.html"><img src="" alt=""></a></h1>
			<nav>
				<ul>
					<li><a href="../index.html">home</a></li>
					<li><a href="{{aboutpath}}/index.html">about</a></li>
				</ul>
			</nav>
			<div>
				<a href=""><img src="" alt=""></a>
			</div>
		</header>
		

		<footer>
			<nav>
				<ul>
					<li><a href="../index.html">home</a></li>
					<li><a href="{{aboutpath}}/index.html">about</a></li>
				</ul>
			</nav>
			<small>copyright Myshop2022</small>
		</footer>
	</body>
</html>