---
title: Myshop
---

<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ title }}</title>
		<link rel="stylesheet" href="{{ csspath }}/ress.min.css" />
		<link rel="stylesheet" href="{{ csspath }}/style.css" />
	</head>
	<body>
		<header>
				<div class="inner flex">
					<h1><a href="{{ htmlpath }}/index.html"><img src="{{ imgpath }}/logo.jpg" alt="" class="logo"></a></h1>
					<div class="cart">
						<div class="red">
							<span id="red">0</span>							
						</div>
						<a class="cart_icon" href="../../cart/index.html">
							<img src="{{ imgpath }}/cart.svg" alt="">
						</a>
					</div>				
				</div>
		</header>
		<main>
			<div class="inner">
		{{ content | safe }}
			</div>
		</main>

		<footer class="footer">
			copyrigth Myshop 2022
		</footer>
	</body>
</html>