---
pagination:
  data: goods
  size: 1
  alias: good
permalink: 'goods/{{ good.url | slugify }}/'
layout: layout.njk
csspath: ../../css/
---


{{ pagination.items | log }}

<ul>
	<li>{{ pagination.items[0].name }}</li>
	<li>{{ pagination.items[0].text }}</li>
</ul>