---
pagination:
  data: goods
  size: 1
  alias: good
permalink: 'goods/{{ good.url | slugify }}/'
layout: layout.njk
csspath: ../../css/
---


{{ pagination.items | log }}

<header class="flex">
<h1><a href="../../index.html"><img src="../../img/logo.jpg" alt="" class="logo"></a></h1>
<h2><a href="../../cart/index.html"><img src="../../img/cart.svg" alt="" class="cart"></a></h2>
</header>

<img src="../../img/logo.jpg" alt="">
<ul class="flex">	
  	{% for itemphoto in itemphotos %}
  <li><img src="../../img/{{ pagination.items[0].itemphotos[] }}" alt=""></li>
  	{% endfor %}
</ul>

<ul>
	<li>{{ pagination.items[0].name }}</li>
	<li>{{ pagination.items[0].text }}</li>
</ul>