---
title: Top
layout: layout.njk
csspath: ./css/
aboutpath:about
---

<main>
    <h3>items</h3>
	<section>
        {% for item in items %}
		<div>
            <a href="../items/{{item.name}}">
			    <img src="" alt="">
			    <h5>{{item.name}}</h5>
			    <p>{{item.text}}</p>
            </a>
		</div>
    	{% endfor %}
	</section>
</main>