---
title: Topページ
layout: layout.njk
csspath: ./css/
---
<header>
<h1>{{ title }}</h1>
<ul>
	<li><a href="../index.html">goods</a></li>
	<li><a href="./about">about</a></li>
</ul>
</header>

<main>
<ul>
	{% for good in goods %}
	<li>
		<a href="../goods/{{ good.url }}">
			<img src="../goods/{{good.itemphotos[0]}}" alt="">
			<h3> {{ good.name }} </h3>
			<p> {{ good.price }}円 </p>
			<p> 
				{% if good.state %}
					soleout
				{% else %}
				{% endif %}
			</p>
		</a></li>
	{% endfor %}
</ul>
</main>

<footer>

</footer>