---
pagination:
  data: items
  size: 1
  alias:items
permalink: 'items/{{ item.name | slugify }}/'
layout: layout.njk
csspath: ../../css/
---


{{ pagination.items | log }}
  <article>
    <section>
      <div>
        <img src="" alt="">
      </div>
      <div>
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
      </div>
      <section>
        <h3>{{pageination.items[0].name}}</h3>
        <p></p>
        <p></p>
        <ul>
          <li>品番：</li>
          <li>カラー：</li>
          <li>サイズ：</li>
        </ul>
      </section>
    </section>
    <div>
      <p></p>
      <input type="number">
    </div>
    <div>
      <button></button>
      <small></small>
    </div>
  </article>
